<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sobre nosotros y el campo</title>
    <link rel="stylesheet" href="../styles/acercaDe.css" />
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon"/>
  </head>
  <body>
    <header class="hero">
        <h1>¡Bienvenido a nuestra comunidad, caminante de dos ruedas!</h1>
        <h2>Te hablaremos de las motos dedicadas al off road y al motocross, y la importancia de los bosques y los campos.</h2>
    </header>
    <main>
      <h2>¿Qué son las motos off road y motocross?</h2>
      <p>Las motos off road y motocross son vehículos especialmente diseñados para el manejo en terrenos difíciles y sin pavimentar.<br>
      Estas motos están equipadas con características especiales, como suspensión de alto rendimiento, neumáticos con agarre extra y motores potentes, que les permiten enfrentar obstáculos y terrenos accidentados.<br>
      Las motos off road se utilizan principalmente para explorar y disfrutar de la naturaleza en campos y bosques, mientras que las motos de motocross se utilizan en competencias y acrobacias en pistas especialmente diseñadas.
      </p>
      <hr>
      <h2>Importancia de los bosques y los campos</h2>
      <br>Los bosques y los campos son ecosistemas vitales para el equilibrio de nuestro planeta. Son hogar de una amplia variedad de especies de plantas y animales, y desempeñan un papel crucial en la regulación del clima y la conservación del agua.</br>
      Es importante cuidar y preservar estos espacios naturales para garantizar su sostenibilidad a largo plazo. Al utilizar nuestras motos off road y motocross, promovemos un uso responsable y respetuoso de estos entornos, siguiendo las regulaciones y restricciones establecidas para proteger la flora y fauna.</br>
      Además, fomentamos la conciencia ambiental y la educación sobre la importancia de la conservación de los bosques y los campos, para que las generaciones futuras puedan disfrutar de estos hermosos lugares.
      </p>
    </main>
    <hr>
    <footer>
      <h2>Qué queremos transmitir</h2>
      <ul>
        <li>Responsabilidad: Nos comprometemos a promover un uso responsable de nuestras motos y a respetar las regulaciones ambientales.</li>
        <li>Pasión: Nos apasiona el off road y el motocross, y compartimos esa pasión con nuestros clientes.</li>
        <li>Sostenibilidad: Nos esforzamos por ser una empresa sostenible, minimizando nuestro impacto en el medio ambiente y promoviendo prácticas ecoamigables.</li>
    </ul>
    </footer>
    <div class="button">
      <a href="../index.html" class="btn">Volver al inicio</a>
    </div>
    
  </body>
</html>
